@let externalAPI = externalAPIId();
@if (externalAPI) {
  <div class="container">
    <div class="header header-centered header-margin-bottom-20">
      <h1>{{ isEditing() ? 'Edit External API' : 'Add New External API' }}</h1>
    </div>

    @if (!loading()) {
      <mat-card>
        <div>
          <form [formGroup]="externalAPIForm" (ngSubmit)="onSave()">
            <mat-card-content>
              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>API Name *</mat-label>
                  <input matInput formControlName="name" placeholder="Enter API name">
                  @if (externalAPIForm.get('name')?.hasError('required')) {
                    <mat-error>
                      API name is required
                    </mat-error>
                  }
                </mat-form-field>
              </div>

              <ng-template let-mappings="mappings" #mappingTable>
                <app-mapping-list [parentUuid]="externalAPI" [mappings]="mappings" class="full-width"/>
              </ng-template>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Product Mappings</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template [ngTemplateOutlet]="mappingTable"
                               [ngTemplateOutletContext]="{ mappings: externalAPIForm.get('productMappings')?.value }"
                               [ngTemplateOutletInjector]="productServiceInjector"
                  />
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Store Mappings</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template [ngTemplateOutlet]="mappingTable"
                               [ngTemplateOutletContext]="{ mappings: externalAPIForm.get('storeMappings')?.value }"
                               [ngTemplateOutletInjector]="storeServiceInjector"
                  />
                </mat-expansion-panel>

                @if (isEditing()) {
                  <ng-template let-endpointType="endpointType" #endpointList>
                    <app-endpoint-list [parentUuid]="externalAPI" [endpointType]="endpointType"/>
                  </ng-template>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Price Endpoints</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template [ngTemplateOutlet]="endpointList"
                                 [ngTemplateOutletContext]="{ endpointType: 'price-endpoint' }"
                                 [ngTemplateOutletInjector]="priceServiceInjector"
                    />
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Product Endpoints</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template [ngTemplateOutlet]="endpointList"
                                 [ngTemplateOutletContext]="{ endpointType: 'product-endpoint' }"
                                 [ngTemplateOutletInjector]="productServiceInjector"
                    />
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Store Endpoints</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template [ngTemplateOutlet]="endpointList"
                                 [ngTemplateOutletContext]="{ endpointType: 'store-endpoint' }"
                                 [ngTemplateOutletInjector]="storeServiceInjector"
                    />
                  </mat-expansion-panel>
                }
              </mat-accordion>
            </mat-card-content>

            <mat-card-actions align="end">
              <a mat-raised-button type="button" routerLink="/master-data/external-api">Cancel</a>
              <button mat-raised-button color="primary" type="submit" [disabled]="externalAPIForm.invalid">
                {{ isEditing() ? 'Update' : 'Create' }}
              </button>
            </mat-card-actions>
          </form>

          @if (error()) {
            <div class="error">
              <p>{{ error() }}</p>
            </div>
          }
        </div>
      </mat-card>

    } @else {
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
}
