<mat-card>
  @if(storeResource.hasValue()) {
    @let store = storeResource.value();
    <mat-card-header>
      @if (store.logo) {
        <img [ngSrc]="store.logo" width="" height="" [alt]="store?.name" mat-card-avatar>
      }
      <mat-card-title-group>
        <mat-card-title>
          {{ store.name }}
        </mat-card-title>
        <mat-card-subtitle>
          Trip {{ tripId() }}
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p [ngClass]="{error: !hasValidity()}">Timespan: {{ validityText() }}</p>
      <app-trip-product-display [products]="trip().products" />
    </mat-card-content>
  } @else if (storeResource.isLoading()) {
    <mat-progress-spinner mode="indeterminate"/>
  } @else if (storeResource.error(); as error) {
    <div class="error">
      <p>{{ error }}</p>
    </div>
  }
</mat-card>
