<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    @defer {
      <mat-nav-list>
        @for (item of navItems(); track item.path) {
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
            @if (item.icon) {
              <mat-icon [textContent]="item.icon"/>
            }
            @if (item.title) {
              {{ item.title }}
            }
          </a>
        }
      </mat-nav-list>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <strong>Grocery Manager</strong>

      <div class="collapsable">
        <span style="flex: 1 1 auto"></span>
        @for (item of navItems(); track item.path) {
          <a mat-button [routerLink]="item.path" routerLinkActive="active">
            @if (item.icon) {
              <mat-icon [textContent]="item.icon"/>
            }
            @if (item.title) {
              {{ item.title }}
            }
          </a>
        }
      </div>

      <button style="flex: 0 0 auto" mat-raised-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
        {{ authService.username() }}
      </button>
      <mat-menu #profile>
        <ng-template matMenuContent>
          @if (authService.hasMasterData()) {
            @if (isMasterDataRoute()) {
              <a mat-menu-item routerLink="/">
                <mat-icon>check_box</mat-icon>
                <span>Master Data</span>
              </a>
            } @else {
              <a mat-menu-item routerLink="/master-data">
                <mat-icon>check_box_outline_blank</mat-icon>
                <span>Master Data</span>
              </a>
            }
          }
          @if (!isMasterDataRoute()) {
            <button mat-menu-item [matMenuTriggerFor]="share">
              <mat-icon>share</mat-icon>
              <span>Share</span>
            </button>
          }
          <button mat-menu-item (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </ng-template>
      </mat-menu>

      <mat-menu #share>
        <ng-template matMenuContent>
          @let currentShare = apiService.share();
          <a mat-menu-item routerLink="/share-admin">
            @if (currentShare) {
              <mat-icon>edit</mat-icon>
            } @else {
              <mat-icon>share</mat-icon>
            }
            <span>{{ currentShare ? 'Edit' : 'Create' }}</span>
          </a>
          <hr>
          <button mat-menu-item (click)="apiService.share.set(undefined)">
            @if (undefined === currentShare) {
              <mat-icon>check_box</mat-icon>
            } @else {
              <mat-icon>check_box_outline_blank</mat-icon>
            }
            <span>None</span>
          </button>
          @for (share of shareService.shareList(); track share.uuid) {
            @if (share.uuid === currentShare) {
              <button mat-menu-item (click)="apiService.share.set(undefined)">
                <mat-icon>check_box</mat-icon>
                <span>{{ share.name }}</span><span>({{ share.permissions }})</span>
              </button>
            } @else {
              <button mat-menu-item (click)="apiService.share.set(share.uuid)">
                <mat-icon>check_box_outline_blank</mat-icon>
                <span>{{ share.name }}</span><span>({{ share.permissions }})</span>
              </button>
            }
          }
        </ng-template>
      </mat-menu>
    </mat-toolbar>

    <router-outlet class="main-content"/>
  </mat-sidenav-content>
</mat-sidenav-container>
