@if (productResource.hasValue()) {
  @let product = productResource.value();
  @if (product.image) {
    <img class="image-large" matListItemIcon [ngSrc]="product.image" width="50" height="50" [alt]="product.name"/>
  } @else {
    <div class="image-large" matListItemIcon></div>
  }
  <div>{{ product.name }}</div>
  <div matListItemMeta>
    @if (quantity() !== undefined) {
      <span>{{ quantity() }}x </span>
    }
    @if (priceCurrencyResource.hasValue()) {
      @let val = priceCurrencyResource.value();
      <span>{{ val.price | currency: val.currency }}</span>
    } @else if (priceCurrencyResource.isLoading()) {
      <mat-progress-spinner mode="indeterminate"/>
    } @else if (priceCurrencyResource.error()) {
      <div class="error">
        <p>{{ priceCurrencyResource.error() }}</p>
      </div>
    }
  </div>
} @else if (productResource.isLoading()) {
  <mat-progress-spinner mode="indeterminate"/>
} @else if (productResource.error()) {
  <div class="error">
    <p>{{ productResource.error() }}</p>
  </div>
}
