@if(loading()) {
  <mat-spinner/>
} @else if (isIgnored()) {
  <button mat-raised-button (click)="isIgnored.set(false)">
    <mat-icon>expand_more</mat-icon>
    Show
  </button>
} @else if (hasDiff()) {
  <form [formRoot]="form">
    <div class="form-row">
      <mat-select [(value)]="mappedId">
        <mat-option [value]="undefined">Create New Store</mat-option>
        @for (store of searchedStores(); track store) {
          <mat-option [value]="store">
            <app-store-listing [uuid]="store"/>
          </mat-option>
        }
      </mat-select>
    </div>
    @let n = mappedItem();
    @let o = mappedStoreResource.value();
    <ng-template let-nf="nf" let-of="of" let-form="form" let-nf2="nf2" let-fieldName="fieldName" #diffField>
      @if (form && (nf ?? nf2) !== of) {
        <div class="full-width">
          @if (o) {
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Old {{fieldName}}</mat-label>
              <input matInput disabled [value]="of"/>
            </mat-form-field>
          }
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New {{fieldName}}</mat-label>
            <input matInput disabled [value]="nf"/>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label [textContent]="fieldName"/>
            <input matInput [formField]="form"/>
          </mat-form-field>
        </div>
        <hr>
      }
    </ng-template>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.name, nf2: '', of: o?.name, form: form.name, fieldName: 'Name'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.logo, of: o?.logo, form: form.logo, fieldName: 'Logo'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.address?.number, of: o?.address?.number, form: form.address.number, fieldName: 'Number'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.address?.street, of: o?.address?.street, form: form.address.street, fieldName: 'Street'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.address?.zip, of: o?.address?.zip, form: form.address.zip, fieldName: 'Zip'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.address?.city, of: o?.address?.city, form: form.address.city, fieldName: 'City'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.address?.country, of: o?.address?.country, form: form.address.country, fieldName: 'Country'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.currency, of: o?.currency, form: form.currency, fieldName: 'Currency'}"/>
    <button type="button" mat-raised-button (click)="isIgnored.set(true)">Ignore</button>
    <button type="submit" mat-raised-button color="primary">Accept</button>
  </form>
}
