<div class="container">
  <div class="header">
    <h2>Shopping Trip Checklist</h2>
  </div>

  @if (combinedResource.hasValue()) {
    @let combo = combinedResource.value();
    <mat-card>
      <mat-card-title>
        <div class="form-row-spaced">
          <div class="filter-option">
            @if (combo.store.logo) {
              <img [src]="combo.store.logo" [alt]="combo.store.name" class="image-small">
            }
            <span>{{ combo.store.name }}</span>
          </div>
          <span>{{ formatDate(combo.trip.time) }}</span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <mat-progress-bar mode="determinate" [value]="getCompletionPercentage(combo.items)"></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <div class="section-header">
      <h3>Shopping List</h3>
      <span>Total Expected Cost: {{ getHasUnknownPrices(combo.items) ? '≥ ' : '' }}{{ getTotalPrice(combo.items) | currency: combo.store.currency }}</span>
    </div>

    @if (combo.items.length === 0) {
      <div class="no-data">
        No items in this shopping trip.
      </div>
    } @else {
      <div class="dashboard-grid">
        @for (item of combo.items; track item.productUuid) {
          <mat-checkbox
            [checked]="item.checked"
            (click)="$event.stopPropagation(); toggleItem(item)">
            <div class="filter-option">
              <app-product-listing [uuid]="item.productUuid" [quantity]="item.quantity" [price]="item.price" [currency]="combo.store.currency"/>
            </div>
          </mat-checkbox>
        }
      </div>
    }
  } @else if (combinedResource.isLoading()) {
    <mat-progress-spinner mode="indeterminate"/>
  } @else if (combinedResource.error()) {
    <div class="error">
      <p>{{ combinedResource.error() }}</p>
    </div>
  }
</div>
