<div class="container">
  <div class="header header-centered header-margin-bottom-20">
    <h1>Run Endpoint</h1>
  </div>

  <div class="main-content">
    <mat-card>
      <mat-card-content>
        <app-exec-form [api]="parentUuid()!" [endpoint]="endpoint()!" (submit)="requestInfo.set($event)"/>

        <mat-checkbox [checked]="direct" (change)="direct.set($event.checked)">Direct</mat-checkbox>

        @if (requestResource.hasValue()) {
          @let response = requestResource.value();
          <h3>Results</h3>
          @let stats = diffCounts();
          <button mat-raised-button (click)="acceptAll({create: true})" [disabled]="stats.create === 0">
            <mat-icon>check</mat-icon>
            Accept all new
          </button>
          <button mat-raised-button (click)="acceptAll({different: true})" [disabled]="stats.different === 0">
            <mat-icon>check</mat-icon>
            Accept all changed
          </button>
          <button mat-raised-button color="primary" (click)="acceptAll()"
                  [disabled]="stats.create + stats.different === 0">
            <mat-icon>check</mat-icon>
            Accept All
          </button>
          <hr>
          <div class="form-row">
          <span class="barGraph">
            <span class="numLoading" [ngStyle]="{
              width: `${stats.loading / stats.total * 100}%`
            }" [textContent]="stats.loading"></span>
            <span class="numIgnored" [ngStyle]="{
              width: `${stats.ignored / stats.total * 100}%`
            }" [textContent]="stats.ignored"></span>
            <span class="numCreate" [ngStyle]="{
              width: `${stats.create / stats.total * 100}%`
            }" [textContent]="stats.create"></span>
            <span class="numDiff" [ngStyle]="{
              width: `${stats.different / stats.total * 100}%`
            }" [textContent]="stats.different"></span>
            <span class="numSame" [ngStyle]="{
              width: `${stats.same / stats.total * 100}%`
            }" [textContent]="stats.same"></span>
          </span>
            <span>/</span>
            <span [textContent]="stats.total"></span>
          </div>
          <hr>
          @for (item of response ?? []; track item.uuid) {
            <app-diff
              [api]="parentUuid()!"
              [item]="item"
            />
          }
        }
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="nextPage()"
          [disabled]="requestResource.isLoading()">
          Next Page
        </button>
        <button
          type="button"
          mat-raised-button
          (click)="resetPages()"
          [disabled]="requestResource.isLoading()">
          Reset Paging
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
