@if(loading()) {
  <mat-spinner/>
} @else if (isIgnored()) {
  <button mat-raised-button (click)="isIgnored.set(false)">
    <mat-icon>expand_more</mat-icon>
    Show
  </button>
} @else if (hasDiff()) {
  <form [formRoot]="form">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
      <mat-select [(value)]="mappedId">
        <mat-option>Create New Product</mat-option>
        @for (product of searchedProducts(); track product) {
          <mat-option [value]="product">
            <app-product-listing [uuid]="product"/>
          </mat-option>
        }
      </mat-select>
    </div>
    @let n = mappedItem();
    @let o = mappedProductResource.value();
    <ng-template let-nf="nf" let-of="of" let-form="form" let-nf2="nf2" let-fieldName="fieldName" #diffField>
      @if (form && (nf ?? nf2) !== of) {
        <div class="full-width">
          @if (o) {
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Old {{fieldName}}</mat-label>
              <input matInput disabled [value]="of"/>
            </mat-form-field>
          }
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New {{fieldName}}</mat-label>
            <input matInput disabled [value]="nf"/>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label [textContent]="fieldName"/>
            <input matInput [formField]="form"/>
          </mat-form-field>
        </div>
        <hr>
      }
    </ng-template>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.name, nf2: '', of: o?.name, form: form.name, fieldName: 'Name'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.image, of: o?.image, form: form.image, fieldName: 'Image'}"/>
    <ng-template [ngTemplateOutlet]="diffField" [ngTemplateOutletContext]="{nf: n.EAN, of: o?.EAN, form: form.EAN, fieldName: 'EAN'}"/>
    <button type="button" mat-raised-button (click)="isIgnored.set(true)">Ignore</button>
    <button type="submit" mat-raised-button color="primary">Accept</button>
  </form>
}
